*{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
    font : sans-serif;
}
Button{
    border : none;
    cursor : pointer;
    outline : none;
}
a:link{
    text-decoration: none;
}
a:hover{
    color : red;
}

li{
    list-style-type: none;
}


#container1{
    border : 1px solid white;
    width : 1345px;
    height : 130px;
    margin : 0 auto;
}
#img_1{
    margin : 10px;
}
#a{
    position : absolute;
    margin: 40px 10px 10px 10px;
    background: white;
    color: rgb(82, 79, 79);
    outline : none;
}
#b{
    position : absolute;
    margin : 40px 10px 10px 150px;
}
#c{
    position : absolute;
    margin : 57px 10px 10px 150px;
}
#d{
    position : absolute;
    margin : 74px 10px 10px 150px;
}
#e{
    position : absolute;
    margin : 50px 10px 10px 180px;
    font-size: 15;
    background: white;
    outline : none;
}
#f{
    position : absolute;
    margin : 50px 10px 10px 280px;
    font-size: 15;
    background: white;
    outline : none;
}
#h{
    position : absolute;
    margin : 50px 10px 10px 400px;
    font-size: 15;
    background: white;
    outline : none;
}

#i{position : absolute;
    margin-left  : 800px;
    margin-top : 40px;
    color : rgb(3, 3, 182);
    font-size: 20;
    background-color: white;
    outline: none;

}

#j{
    position : absolute;
    margin-left  : 1020px;
    margin-top : 40px;
    width : 200px;
    color : rgb(197, 9, 9);
    font-size: 20;
    outline : none;
    background-color: white;
    

}


#container2{
    border : 1px solid blue;
    width : 1345px;
    height : 70px;
    background-color: blue;
    z-index :1;
    margin : 0 auto;
}
#dropdown{
    position : relative;
    display : flex;
    z-index : 100;
}
#n
{   position : absolute;
    margin : 8px 1px 5px 10px;
    padding : 10px 10px 10px 10px;
    background : blue;
    color : white;
    border : none;
    outline : none;
    display : inside;
}
#n2
{   position : absolute;
    margin: 8px 1px 5px 170px;
    padding : 10px 10px 10px 10px;
    background : blue;
    color : white;
    border : none;
    outline : none;
}
#n3
{   position : absolute;
    margin: 8px 1px 5px 270px;
    padding : 10px 10px 10px 10px;
    background : blue;
    color : white;
    border : none;
    outline : none;
}
#n5
{   position : absolute;
    margin: 8px 1px 5px 430px;
    padding : 10px 10px 10px 10px;
    background : blue;
    color : white;
    border : none;
    outline : none;
}

#n:hover,#n2:hover,#n3:hover,#n5:hover{
    background-color:navy;
}
#o{
    position : absolute;
    margin-left : 10px; 
    margin-top :60px;
    width : 10%;
    padding : 2px 2px 2px 2px;
    font-weight : bold;
    display : none;
    background-color: navy;

}

#q{
    position : absolute;
    /* border : 1px solid white; */
    margin-left : 170px;
    margin-top :60px;
    width : 20%;
    color : blue;
    padding : 2px 2px 2px 2px;
    font-weight : bold;
    display : none;
    background-color: navy;
}
#q1{
    position : absolute;
    /* border : 1px solid white; */
    margin-left : 270px;
    margin-top :60px;
    width : 10%;
    color : blue;
    padding : 2px 2px 2px 2px;
    font-weight : bold;
    display : none;
    background-color: navy;
}

#r1{
    position : absolute;
    /* border : 1px solid white; */
    margin-left : 430px;
    margin-top :60px;
    width : 20%;
    color : white;
    padding : 2px 2px 2px 2px;
    font-weight : bold;
    display : none;
    background-color: navy;
}
#o a, #p a,#q a,#q1 a,#r a,#r1 a{
    text-decoration: none;
    color : white;
}
#o a:hover,#p a:hover,#q a:hover,#q1 a:hover,#r a:hover,#r1 a:hover{
    color : red;
}
#dropdown:hover #o{display: block;}
#dropdown:hover #p{display: block;}
#dropdown:hover #q{display: block;}
#dropdown:hover #q1{display: block;}
#dropdown:hover #r{display: block;}
#dropdown:hover #r1{display: block;}
#r2{
    position : absolute;
    margin : 8px 1px 5px 750px;
    color : white;
    background : red;
    border-radius: 5px;
    padding : 10px 20px 10px 20px;
}
#r3{
    position : absolute;
    margin: 8px 1px 5px 1050px;
    padding : 10px 20px 10px 20px;
    color : brown;
    background : yellow;
    border-radius: 5px;
}
#container3{
    border : 1px solid blue;
    width : 1345px;
    height : 150px;
    background : blue;
    margin : 0 auto;
}
#r4{
    position:absolute;
    top:25%;
    left : 20%;
    color : white;
}
#r5{
    position : absolute;
    background-color : red;
    color : white;
    top : 30%;
    left : 65%;
    padding : 10px 20px 10px 20px;
}
#container4{
    position : absolute;
    border : 1px solid black;
    z-index : 999;
    width : 50%;
    height : 75%;
    top : 10%;
    left : 25%;
    background-color : white;
    border-radius : 10px;
    display : none;
    margin : 0 auto;
    
}
#container4.visible
{
	display:block;
	animation:fade-slide-in 0.3s ease-out forwards;
}
@keyframes fade-slide-in {
	from {
	  transform: translateY(-5rem);
	}
	to {
	  transform: translateY(0);
	}
  }
#k{
    color :red;
    padding : 10px 10px 10px 10px;
    
}
#k1{
    color :brown;
    padding : 10px 10px 10px 10px;
    
}
#e1{
    margin :5px 5px 5px 5px;
}
#captcha{
    position : absolute;
    margin-left : 40%;
    margin-top : -5%;
    border : 1px solid grey;
    padding : 2px 2px 2px 2px;
    
}
#e2{
    position : absolute;
    color :white;
    background : red;
    border-radius : 5px;
    left : 40%;
    padding : 10px 20px 10px 20px;
}
#e3{
    position : absolute;
    color :red;
    background : white;
    border-radius : 5px;
    left : 70%;
    padding : 10px 20px 10px 20px;
    
}
#backdrop {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background:  rgba(0, 0, 0, 0.85);
	z-index: 500;
	display: none;
  }
  
  #backdrop.visible {
	display: block;
}
#wowslider-container1{
    z-index : -1;
}
#r9{
    position: absolute;
    top : 183%;
}
#r10{
    color : white;
    margin-left : 35%;
}
#r11{
    margin-top : 2%;
}
#con3{
    border : 1px solid blue;
    width : 1000px;
    height : 10%;
    background-color: blue;
    margin-top : 10%;
    margin : 0 auto;
}
#r8{
    margin-top : 2%;
    width : 100%;
}
#r12{
    color : white;
    margin-left : 40%;
}
#con4{
    border : 1px solid blue;
    width : 1000px;
    height : 10%;
    background-color: blue;
    margin-top : 34%;
    margin : 0 auto;
}
#r13{
    color : white;
    margin-left : 45%;
}
#r14{
    color :black;
    margin-top : 3%;
}
#container6{
    border : 1px solid navy;
    width : 1000px;
    height : 20%;
    background-color: navy;
    margin : 0 auto;
}
#r15{
    color :white;
    margin-top : 3%;
    margin-left : 40%;
}
#container7{
    position : absolute;
    border : 1px solid black;
    z-index : 999;
    width : 50%;
    height : 30%;
    top : 30%;
    left : 25%;
    background-color : white;
    border-radius : 10px;
    display : none;
    margin : 0 auto;
    }
#container7.visible
    {
        display:block;
        animation:fade-slide-in 0.3s ease-out forwards;
}    
#e4{
    position : absolute;
    color :brown;
    background : yellow;
    border-radius : 5px;
    left : 40%;
    padding : 10px 20px 10px 20px;
    }
#e5{
    position : absolute;
    color :yellow;
    background : brown;
    border-radius : 5px;
    left : 55%;
    padding : 10px 20px 10px 20px;

}    
#r16{
    position : absolute;
    width : 100%;
    
}
@media only screen and (min-width: 600px) {
    body {
      background-color: lightblue;
    }
  }